{% load static %}

</main>
<footer id="Información">
    <section class="derechos_autor">
        <h2>Chileautos</h2>
        <p>
            © carsales.com Limited 1999-2020
        </p>
    </section>
    <section class="redes_sociales">
        <a href="#"><i class='bx bxl-facebook'></i></a>
        <a href="#"><i class='bx bxl-youtube'></i></a>
        <a href="#"><i class='bx bxl-twitter'></i></a>
        <a href="#"><i class='bx bxl-instagram'></i></a>    
    </section>    
</footer>
</body>
</html>



