{% include "base/head.html "%}

{% block header %}

    <header>
        <nav class="navegacion">
            <a href="#"><i class='bx bxs-home' ></i></a>
            <a href="#Inicio">Inicio</a>
            <a href="#Noticias&Eventos">Noticias</a>
            <a href="#Utilidades">Utilidades</a>
            <a href="#Seguros">Seguros</a>
            <a href="#Contacto">Contacto</a>
            <a href="#Servicios">Servicios</a>
            <a href="#Información">Información</a>
            <a href="#Ingresar">Ingresar</a>
            <a href="#Registrarse">Registrarse</a>
        </nav>
    </header>
    
{% endblock %}