{% extends "base/contenido.html "%}

{% load static %}

{% block css %}
<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">-->
<link rel="stylesheet" href="{% static "staticListarAuto/css/style.css" %}">
{% endblock css %}

{% block contenido %}

<section class="section_5">
    <div class="row">
        <h1>Listar Autos</h1>
        <a href="agregar/">Agregar un Auto</a>
        <a href="/cuenta/perfil">Volver</a>
    </div>
    {% if autos %}
    <div class="div_listarAutos">
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Modelo</th>
                    <th>Marca</th>
                    <th>Detalle</th>
                    <th>Año</th>
                    <th>Precio</th>

                </tr>
            </thead>

            <tbody>
                {% for auto in autos %}
                <tr id="{{ auto.id }}">
                    <td>{{auto.nombre}}</td>
                    <td>{{auto.modelo}}</td>
                    <td>{{auto.marca}}</td>                  
                    <td>{{auto.detalle}}</td>
                    <td>{{auto.año}}</td>
                    <td>{{auto.precio}}</td>
                    <td>
                        <a href="modificar/{{ auto.id }}" class="btn-floating btn-midle waves-effect waves-light blue"><i class="material-icons">Modificar</i></a>
                        <a href="eliminar/{{ auto.id }}" class="btn-floating btn-midle waves-effect waves-light red"><i class="material-icons">Eliminar</i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
        <p>No hay Autos.....</p>
    {% endif %}
</section>
{% endblock contenido %}
<!--<script src="{% static "staticListarAuto/js/jsListarAuto.js" %}"></script>-->